body {
    margin: 0;
    background-color: #fafafa;
}

a {
    color: black;
    text-decoration: none;
}
.link {
    text-decoration: underline;
}

#header_top {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #121212;
    color: #fafafa;
    height: auto;
}

header a {
    padding-top: 1em;
    text-align: center;
}
#CopyRight {
    text-align: center;
    padding-top: 1em;
}
footer .foo_info {
    width: 80%;
    margin: auto;
    padding: 1em 0 ;
    font-size: 0.85em;
}
#dark_line{
    display: none;
}
main{
    width: 70%;
    margin: auto;
}

main h2 {
    display: inline;
    border-bottom: solid;
    width: auto;
}

.header_link {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    float: right;
    margin-right: 2em;
    margin-top: 0.5em;
}

#top_title {
    font-size: 3em;
}
#mkSkill_pa i{
    font-size: 2.5em;
}
#mkSkill_pa {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
}
.mySkill_child {
    display: flex;
    justify-content: center;
    align-items: center;
}
#works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 40px;
}

#c3_link_ i {
    font-size: 3em;
}
#c3_link_ {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}
#c4_content {
    margin: 1em 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
    justify-content: center;
    align-items: center;
}
.c4_child {
    box-shadow: 0px 0px 15px -5px #777777;
border-radius: 10px;
    max-width: 15em;
    padding: 1em;
}
.c4_child .date{
    font-size: 0.8em;
    color: #333;
}
#top_popup {
    padding: 1em 0;
    text-align: center;
}

#status_div {
    border-left: solid;
    padding: 0.5em;
}
#status {
    margin: 0;
    padding: 0;
}
#activity {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: gray;
}

.hide-area {
    display: none;
}

.link_title {
    margin-left: 0.5em;
}

.app {
    border-left: solid;
    padding: 1em;
    margin: 1.5em 0;
}
.app_title {
    font-size: 1.25em;
}
.app_link {
    font-size: 0.8em;
    color: gray;
}

/*アコーディオン全体*/
.accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
}

.accordion-area li {
    margin: 10px 0;
}

.accordion-area section {
    border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;

}

.title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);

}

.title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
    transform: rotate(45deg);
}

.title.close::after {
    transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;
    /*はじめは非表示*/
    margin: 0 3% 3% 3%;
}

.hide-area {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

textarea {
    display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 170px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  outline: none;
  line-height: 1.6;
  resize: vertical;
}
/* レスポンシブ */
@media screen and (max-width: 480px) {
    main {
        width: 100%;
        margin: 0 1em;
        }
        #followMe {
            display: none;
        }
        .header_link {
            margin-right: 0;
        }
}
/* スクロール */
  /* スクロール */
  ::-webkit-scrollbar{
    width: 10px;
 }
 ::-webkit-scrollbar-track{
    background-color: #fafafa;
 }
 ::-webkit-scrollbar-thumb{
    background-color: #121212;
 }
/* ダークモード */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: #fafafa;
    }
    .c4_child .date{
        color: #a1a1a1;
    }
    #dark_line{
        display: block;
    }
    .modaal-content-container {
        background-color: #121212;
    }
    .modaal-content-container * {
        color: #fafafa;
    }
      /* スクロール */
  ::-webkit-scrollbar{
    width: 10px;
 }
 ::-webkit-scrollbar-track{
    background-color: #121212;
 }
 ::-webkit-scrollbar-thumb{
    background-color: #fafafa;
 }
    a {
        color:#fafafa;
    }
  }